.how-works {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: rem(120);
    max-width: rem(1447);
    margin: 0 auto;
    @include mobile {
      flex-direction: column-reverse;
         gap: rem(12);
    }
  }

  &__video {
    border-radius: rem(50);
    width: rem(647);
    height: rem(813);
    
    flex: 0 0 auto;
    @include mobile {
      width: rem(308);
      height: rem(387);
    }
  }

  &__block {
    flex: 1 1 auto;
  }

  &__title {
    font-weight: 500;
    font-size: rem(60);
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #0a0620;
    margin-bottom: rem(60);
    @include mobile {
      margin-bottom: rem(22);
      font-size: rem(22);
    }
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(2, rem(330));
    justify-content: center;
    gap: rem(20);
    @include mobile {
      grid-template-columns: repeat(1, rem(308));
        gap: rem(6);
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    min-width: 0;
      @include mobile {
        gap: rem(6);
      }
    &:last-child {
      margin-top: rem(100);
      @include mobile {
        margin-top: rem(0);
      }
    }
  }

  &__look {
    align-self: flex-end;
   
    position: relative;
    font-weight: 500;
    font-size: rem(20);
    line-height: 120%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;

    max-width: rem(226);

    border-radius: rem(130);
    padding: rem(26) rem(56);

    // backdrop-filter: blur(rem(50));
    background: #0a0620;
    @include mobile {
      padding: rem(13) rem(22);
      font-size: rem(16);
      max-width: rem(226);
      margin-bottom: rem(6);
      align-self: center;
    }
  }

  &__look-circle {
    position: absolute;
    top: rem(-14);
    left: rem(-4);

    display: grid;
    place-content: center;

    width: rem(46);
    height: rem(46);

    border-radius: 100%;
    backdrop-filter: blur(rem(34));
    background: rgba(114, 152, 205, 0.4);
    @include mobile {
      top: rem(-9);
      left: rem(0);
      width: rem(24);
      height: rem(24);
    }
  }

  &__look-icon {
    width: rem(20);
    height: rem(20);
    @include mobile {
      width: rem(14);
      height: rem(14);
    }
  }

  //
  //

  &__item {
    position: relative;

    border-radius: rem(50);
    padding: rem(40);
    width: 100%;
    background: #f6f6f6;
    @include mobile {
      padding: rem(22);
      border-radius: rem(24);
    }
  }

  &__item-title {
    font-weight: 400;
    font-size: rem(24);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #0a0620;
    margin-bottom: rem(12);
    @include mobile {
      font-size: rem(16);
    }
  }

  &__item-description {
    font-weight: 400;
    font-size: rem(18);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #615e71;
    @include mobile {
      font-size: rem(14);
    }
  }

  &__item-circle {
    position: absolute;
    top: rem(-14);
    left: rem(-4);

    display: grid;
    place-content: center;
    padding-top: rem(3);

    font-weight: 700;
    font-size: rem(24);
    line-height: 110%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;

    width: rem(46);
    height: rem(46);

    border-radius: 100%;
    backdrop-filter: blur(rem(34));
    background: rgba(114, 152, 205, 0.4);
    @include mobile {
      width: rem(24);
      height: rem(24); 
      font-size: rem(16);
      top: rem(-4);
      left: rem(-4);
      padding-top: rem(0);
    }
  }
}
