<section class="advantages">
    <div class="container">
        <div class="advantages__wrapper">
            <h2 class="advantages__title">
                Ключевые преимущества
            </h2>
            <div class="advantages__list">
                <div class="advantages__item">
                    <div class="advantages__way">
                        <span></span>
                    </div>
                    <div class="advantages__item-title">
                        Персональные KPI
                    </div>
                    <div class="advantages__item-description">
                        Продавцы видят свои ключевые показатели: сумма заказов, выполненные планы, динамика продаж.
                        Это помогает контролировать результаты и повышает мотивацию.
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__way">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="advantages__item-title">
                        Аналитика продаж и скидок
                    </div>
                    <div class="advantages__item-description">
                        Удобный рейтинг по продавцам с детализацией продаж и применённых скидок.
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__way">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="advantages__item-title">
                        Доставка
                    </div>
                    <div class="advantages__item-description">
                        Продавец может оформить заказ напрямую со склада интернет-магазина, а за выполнение таких
                        заказов предусмотрена дополнительная мотивация.
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__way">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="advantages__item-title">
                        Остатки на местах <br class="only-desktop"> или складе
                    </div>
                    <div class="advantages__item-description">
                        Система позволяет быстро проверить наличие товара в магазине или на складе, чтобы оперативно
                        подтвердить заказ покупателю.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>