<section class="banner">
    <div class="container container--big">
        <img src="/img/banner/bg-dark.png" alt="" class="banner__img only-desktop">
        <img src="/img/banner/bg-dark-mobile.png" alt="" class="banner__img only-mobile">
        <div class="banner__tabs">
            <a href="/" class="banner__tab">
                <div class="banner__tab-title">Для больших залов</div>
                <div class="banner__tab-subtitle">Самообслуживание</div>
            </a>
            <a href="/small.html" class="banner__tab active">
                <div class="banner__tab-title">Для малых залов</div>
                <div class="banner__tab-subtitle">Персональный сервис</div>
            </a>
        </div>
        <div class="banner__info">
            <h1 class="banner__title">
                Ассистент продавца <br> для повышения продаж
            </h1>
            <p class="banner__description">
                <span>AntroQR</span> — элемент омниканальности, позволяющий увеличить LTV и продажи во всех каналах
                магазина с
                помощью дополнительных инструментов взаимодействия для посетителей
            </p>
        </div>
    </div>
</section>