<section class="section call">
    <div class="container">
        <div class="call__wrapper">

            <div class="call__blue call-blue">
                <div class="call-blue__left">
                    <div class="call-blue__subtitle">
                        подберем решение под ваш запрос
                    </div>
                    <h3 class="call-blue__title">
                        Запишитесь на бесплатное демо
                    </h3>
                    <img class="call-blue__bg only-desktop" src="/img/call/room-dark.png" alt="">
                    <img class="call-blue__bg only-mobile" src="/img/call/room-dark-mobile.png" alt="">
                </div>
                <div class="call-blue__right">
                    <div class="call-blue__socials">
                        <a href="" class="call-blue__social">
                            <img src="/img/ui/tg.svg" alt="" class="call-blue__social-icon">
                        </a>
                        <a href="" class="call-blue__social">
                            <img src="/img/ui/wa.svg" alt="" class="call-blue__social-icon">
                        </a>
                        <a href="" class="call-blue__social">
                            <img src="/img/ui/mail.svg" alt="" class="call-blue__social-icon">
                        </a>
                    </div>
                    <form action="" class="form call-blue__form">
                        <div class="form__title">
                            Проконсультируем, расскажем, как мы работаем и составим КП
                        </div>
                        <div class="form__fields">
                            <label class="form__field error">
                                <div class="form__field-error">
                                    <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                                </div>
                                <input type="text" placeholder="Имя" name="name" class="form__field-input">
                                <div class="form__field-error-text">
                                    Пожалуйста, введите имя
                                </div>
                            </label>
                            <label class="form__field">
                                <div class="form__field-error">
                                    <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                                </div>
                                <input type="text" placeholder="Компания" name="company" class="form__field-input">
                                <div class="form__field-error-text">
                                    Пожалуйста, введите название компании
                                </div>
                            </label>
                            <label class="form__field">
                                <div class="form__field-error">
                                    <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                                </div>
                                <input type="tel" placeholder="Телефон" name="phone" class="form__field-input">
                                <div class="form__field-error-text">
                                    Пожалуйста, введите номер телефона
                                </div>
                            </label>
                            <label class="form__field">
                                <div class="form__field-error">
                                    <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                                </div>
                                <input type="text" placeholder="Почта" name="email" class="form__field-input">
                                <div class="form__field-error-text">
                                    Пожалуйста, введите email
                                </div>
                            </label>
                            <label class="form__field">
                                <div class="form__field-error">
                                    <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                                </div>
                                <div class="select">
                                    <input class="form__field-input select__value" type="text" autocomplete="off"
                                        readonly="readonly" placeholder="Способ связи" name="feedback">
                                    <div class="select__list">
                                        <div data-value="Telegram или WhatsApp" class="select__option">Telegram или
                                            WhatsApp
                                        </div>
                                        <div data-value="Телефон" class="select__option">Телефон</div>
                                        <div data-value="Email" class="select__option">Email</div>
                                    </div>
                                </div>
                                <div class="form__field-error-text">
                                    Пожалуйста, выберите способ связи
                                </div>
                            </label>
                        </div>
                        <button class="btn-reset btn form__send" type="submit">
                            <span>Отправить</span>
                        </button>
                        <div class="form__agree">
                            Нажимая на кнопку, вы даете согласие на 
                            <a href="">обработку персональных данных</a>
                            и соглашаетесь с
                            <a href="">политикой конфиденциальности</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>