<section class="section difference">
    <div class="container">
        <div class="difference__wrapper">
            <div class="difference__item">
                <div class="difference__item-title">+5–10%</div>
                <div class="difference__item-subtitle">конверсии <br> в розничном магазине</div>
                <div class="difference__item-hover">
                    Покупатель видит онлайн-ассортимент, ищет, сравнивает и оформляет прямо в зале
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">+15–25%</div>
                <div class="difference__item-subtitle">Заказов <br class="only-mobile"> оформляется через «бесконечную
                    полку»</div>
                <div class="difference__item-hover">
                    Оформление того, чего нет на витрине
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">−15–20%</div>
                <div class="difference__item-subtitle">Возвратов</div>
                <div class="difference__item-hover">
                    Подробные описания и отзывы снижают риск ошибки при выборе товара
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">+10–20%</div>
                <div class="difference__item-subtitle">Рост среднего чека</div>
                <div class="difference__item-hover left">
                    Рекомендации и доступ к полному ассортименту увеличивают допродажи
                </div>
            </div>
        </div>
    </div>
</section>