<section class="section difference">
    <div class="container">
        <div class="difference__wrapper">
            <div class="difference__item">
                <div class="difference__item-title">+5–10%</div>
                <div class="difference__item-subtitle">рост среднего чека</div>
                <div class="difference__item-hover">
                    Дополнительные рекомендации от консультанта повышают сумму покупки
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">+15–40%</div>
                <div class="difference__item-subtitle">рост выручки торговой <br class="only-desktop"> точки</div>
                <div class="difference__item-hover">
                    Консультант оформляет заказы из других каналов прямо со своего устройства
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">до 20%</div>
                <div class="difference__item-subtitle">экономия времени <br> продавцов-консультантов</div>
                <div class="difference__item-hover">
                    Вся информация о товаре доступна сразу — без поиска и уточнений
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">−40%</div>
                <div class="difference__item-subtitle">отказов <br> от товаров</div>
                <div class="difference__item-hover left">
                    Консультант мгновенно предлагает аналоги и доступные размеры
                </div>
            </div>
        </div>
    </div>
</section>