<section class="section difference">
    <div class="container">
        <div class="difference__wrapper">
            <div class="difference__item">
                <div class="difference__item-title">+5–10%</div>
                <div class="difference__item-subtitle">Конверсии <br> в розничном магазине</div>
                <div class="difference__item-hover">
                    Оформление того, чего нет на витрине 1
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">+15–25%</div>
                <div class="difference__item-subtitle">Заказов оформляется через «бесконечную полку»</div>
                <div class="difference__item-hover">
                    Оформление того, чего нет на витрине 2
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">−15–20%</div>
                <div class="difference__item-subtitle">Возвратов</div>
                <div class="difference__item-hover">
                    Оформление того, чего нет на витрине 3
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">+10–20%</div>
                <div class="difference__item-subtitle">Рост среднего чека</div>
                <div class="difference__item-hover left">
                    Оформление того, чего нет на витрине 4
                </div>
            </div>
        </div>
    </div>
</section>