<section class="section difference">
    <div class="container">
        <div class="difference__wrapper">
            <div class="difference__item">
                <div class="difference__item-title">+5-10%</div>
                <div class="difference__item-subtitle">К среднему чеку</div>
                <div class="difference__item-hover">
                    Оформление того, чего нет на витрине 1
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">+15-40%</div>
                <div class="difference__item-subtitle">К выручке торговой <br> точки</div>
                <div class="difference__item-hover">
                    Оформление того, чего нет на витрине 2
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">+20%</div>
                <div class="difference__item-subtitle">Экономия времени <br> продавцов-консультантов</div>
                <div class="difference__item-hover">
                    Оформление того, чего нет на витрине 3
                </div>
            </div>
            <div class="difference__item">
                <div class="difference__item-title">-40%</div>
                <div class="difference__item-subtitle">Отказов <br> от товаров</div>
                <div class="difference__item-hover left">
                    Оформление того, чего нет на витрине 4
                </div>
            </div>
        </div>
    </div>
</section>