<section class="section experience">
    <div class="container">
        <div class="experience__wrapper">
            <h2 class="experience__title">
                Покупательский опыт меняется
            </h2>
            <div class="experience__body">
                <div class="experience__buyer">
                    <img src="/img/experience/flower-1.png" alt="" class="experience__buyer-flower">
                    <div class="experience__buyer-left">

                        <div class="experience__buyer-info">
                            Исследование — <a target="_blank"
                                href="https://datainsight.ru/transformation-marketing">Data Insight</a>
                        </div>
                        <div class="experience__buyer-title">
                            Покупатель привык к онлайн опыту и ожидает его в рознице
                        </div>
                    </div>
                    <div class="experience__buyer-right">
                        <div class="experience__buyer-item">сравнение по параметрам и ценам</div>
                        <div class="experience__buyer-item">отзывы о товаре</div>
                        <div class="experience__buyer-item">фотографии от других людей</div>
                        <div class="experience__buyer-item">вариации товара по цвету, размеру и комплектности</div>
                        <div class="experience__buyer-item">информация о скидках и программах лояльности</div>
                        <div class="experience__buyer-item">готовые образы и коллекции </div>
                    </div>
                </div>
                <div class="experience__statistics">
                    <img src="/img/experience/flower-2.png" alt="" class="experience__statistics-flower">
                    <div class="experience__statistics-top">
                        <div class="experience__statistics-info">
                            Исследование — <a target="_blank"
                                href="https://www.emarketer.com/content/two-thirds-of-internet-users-check-phones-in-store-for-product-information-skipping-store-associates">Emarketer</a>
                        </div>
                        <div class="experience__statistics-title">
                            Две трети покупателей уже используют телефон для получения информации о товаре,
                            минуя консультантов в рознице
                        </div>
                    </div>
                    <div class="experience__statistics-list">
                        <div class="experience__statistics-item">
                            <div class="experience__statistics-stat">
                                69%
                            </div>
                            <div class="experience__statistics-line" style="--width: 69%">
                            </div>
                            <div class="experience__statistics-description">
                                сначала читают <br> отзывы
                            </div>
                        </div>
                        <div class="experience__statistics-item">
                            <div class="experience__statistics-stat">
                                53%
                            </div>
                            <div class="experience__statistics-line" style="--width: 53%">
                            </div>
                            <div class="experience__statistics-description">
                                ищут скидки, перед <br> обращением к консультанту
                            </div>
                        </div>
                        <div class="experience__statistics-item">
                            <div class="experience__statistics-stat">
                                6/10
                            </div>
                            <div class="experience__statistics-line" style="--width: 60%">
                            </div>
                            <div class="experience__statistics-description">
                                сравнивают цены <br> через интернет
                            </div>
                        </div>
                        <div class="experience__statistics-item">
                            <div class="experience__statistics-stat">
                                59%
                            </div>
                            <div class="experience__statistics-line" style="--width: 59%">
                            </div>
                            <div class="experience__statistics-description">
                                ищут купоны и акции <br> на телефоне
                            </div>
                        </div>
                        <div class="experience__statistics-item">
                            <div class="experience__statistics-stat">
                                57%
                            </div>
                            <div class="experience__statistics-line" style="--width: 57%">
                            </div>
                            <div class="experience__statistics-description">
                                сравнивают цены в интернете, <br> находясь в магазине
                            </div>
                        </div>
                    </div>
                </div>
                <div class="experience__compilation">
                    <img src="/img/experience/flower-blue.png" alt="" class="experience__compilation-blue">
                    <img src="/img/experience/pink.png" alt="" class="experience__compilation-pink">
                    <div class="experience__compilation-title">
                        Подборка исследований Data Insight, eMarketer и других источников о поведении покупателей в
                        офлайне и e-com
                    </div>
                    <a target="_blank" href="/Исследования.pdf" class="btn-reset experience__compilation-btn">
                        <span>
                            Ещё исследования о поведении покупателей
                        </span>
                        <div class="experience__compilation-btn-circle">
                            <img src="/img/ui/arrow-top-right.svg" alt="" class="experience__compilation-btn-icon">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>