<section class="section experience">
    <div class="container">
        <div class="experience__wrapper">
            <h2 class="experience__title">
                Когда покупатель уходит —
                уходит и продажа
            </h2>
            <div class="experience__body">
                <div class="experience__dark">
                    <div class="experience__dark-col">
                        <div class="experience__dark-title">До 30% покупателей не совершают покупку, если нужного товара
                            нет в наличии</div>
                        <div class="experience__dark-list">
                            <div class="experience__dark-item">долгое ожидание консультанта</div>
                            <div class="experience__dark-item">нужного товара нет в наличии</div>
                            <div class="experience__dark-item">низкая осведомленность консультанта</div>
                            <div class="experience__dark-item">отсутствие программы лояльности</div>
                            <div class="experience__dark-item">
                                нет удобного механизма моментального заказа с других
                                складов прямо в зале
                            </div>
                        </div>
                    </div>
                    <div class="experience__dark-col">
                        <div class="experience__dark-title">
                            У продавцов появились новые <br class="only-desktop"> потребности
                        </div>
                        <div class="experience__dark-list">
                            <div class="experience__dark-item">объединение всех каналов продаж в одном месте</div>
                            <div class="experience__dark-item">работа с отзывами</div>
                            <div class="experience__dark-item">разнообразие платежных опций</div>
                            <div class="experience__dark-item">аналитика продаж</div>
                            <div class="experience__dark-item">
                                персонализированные рекомендации клиентам
                            </div>
                        </div>
                    </div>
                </div>
                <div class="experience__compilation">
                    <img src="/img/experience/flower-blue.png" alt="" class="experience__compilation-blue">
                    <img src="/img/experience/pink.png" alt="" class="experience__compilation-pink">
                    <div class="experience__compilation-title">
                        Подборка исследований Data Insight, eMarketer и других источников о поведении покупателей в
                        офлайне и e-com
                    </div>
                    <button class="btn-reset experience__compilation-btn">
                        <span>
                            Ещё исследования о поведении покупателей
                        </span>
                        <div class="experience__compilation-btn-circle">
                            <img src="/img/ui/arrow-top-right.svg" alt="" class="experience__compilation-btn-icon">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>