<section class="section faq">
    <div class="container container--big">
        <div class="faq__wrapper">
            <h2 class="faq__title" id="about">
                Какую дополнительную информацию мы даем покупателю?
            </h2>
            <div class="faq__tabs-block">
                <div class="faq__tabs-info">
                    подходит для отраслей
                </div>
                <div class="faq__tabs">
                    <div class="faq__tab">
                        <div class="faq__tab-title">Одежда и обувь</div>
                    </div>
                    <div class="faq__tab">
                        <div class="faq__tab-title">
                            <span class="only-desktop">Электроника и бытовая техника</span>
                            <span class="only-mobile">Электроника и БТ</span>
                        </div>
                    </div>
                    <div class="faq__tab">
                        <div class="faq__tab-title">Красота и гигиена</div>
                    </div>
                </div>
            </div>
            <div class="faq__steps">
                <div class="faq__step active" data-step-block="1">
                    <div class="faq__questions">
                        <div class="faq__question active" data-message="1.1">
                            — Есть ли у вас джинсы бананы?
                        </div>
                        <div class="faq__question" data-message="1.2">
                            — А есть такое же, только поменьше?
                        </div>
                        <div class="faq__question" data-message="1.3">
                            — А какая вещь будет по цене второй?
                        </div>
                        <div class="faq__question" data-message="1.4">
                            — У меня есть ваша карта? А там есть баллы?
                        </div>
                        <div class="faq__question" data-message="1.5">
                            — А какой товар чаще покупают?
                        </div>
                        <div class="faq__question" data-message="1.6">
                            — Можете помочь с образом?
                        </div>
                        <div class="faq__question" data-message="1.7">
                            — Сфотографируете для мамы?
                        </div>
                        <div class="faq__question" data-message="1.8">
                            — Отложите? Я погуляю, подумаю…
                        </div>
                    </div>
                    <img src="/img/faq/image.png" alt="" class="faq__step-phone">
                    <div class="faq__messages-block">
                        <div class="faq__messages active" data-message-block="1.1">
                            <div class="faq__message">
                                — Есть ли у вас джинсы бананы?
                            </div>
                            <div class="faq__answer">
                                <img src="/img/faq/image.png" alt="" class="only-mobile faq__answer-img">
                                <div class="faq__answer-title">
                                    Посетитель ищет конкретный товар
                                </div>
                                <div class="faq__answer-descriptions">
                                    <p>
                                        QR-код на входе, на бирках, промо-материалах или в мобильном приложении — точка
                                        входа в веб-сервис, где формируется уникальная сессия под посетителя.
                                    </p>
                                    <p>
                                        Посетитель может сразу воспользоваться поиском среди всех товаров, которые есть
                                        в текущий момент в розничной точке.
                                    </p>
                                    <p>
                                        <a target="_blank" href="/Исследования.pdf">По исследованию</a>, 69%
                                        пользователей начинают взаимодействие с
                                        интернет-магазинам с поиска, что недоступно посетителю в рознице.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="faq__messages" data-message-block="1.2">

                            <div class="faq__message">
                                — А есть такое же, только поменьше?
                            </div>
                            <div class="faq__answer">
                                <img src="/img/faq/image-1.png" alt="" class="only-mobile faq__answer-img">
                                <div class="faq__answer-title">
                                    Посетитель не находит свой размер
                                </div>
                                <div class="faq__answer-descriptions">
                                    <p>
                                        Если нужного размера нет на витрине, покупатель часто уходит, не уточняя
                                        наличие.
                                    </p>
                                    <div>
                                        <div>Сервис предлагает ему выбор:</div>
                                        <ul>
                                            <li>посмотреть похожие модели, которые можно купить здесь и сейчас,</li>
                                            <li>подписаться на поступление товара,</li>
                                            <li>оформить доставку или бронь товара, если он доступен в наличии в других
                                                каналах.</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="faq__messages" data-message-block="1.3">

                            <div class="faq__message">
                                — А какая вещь будет по цене второй?
                            </div>
                            <div class="faq__answer">
                                <img src="/img/faq/image-2.png" alt="" class="only-mobile faq__answer-img">
                                <div class="faq__answer-title">
                                    Посетитель не понимает итоговую цену
                                </div>
                                <div class="faq__answer-descriptions">
                                    <p>
                                        Во время акций ценники могут быть неактуальны, а при прогрессивных скидках вроде
                                        –20% на второе, –30% на третье — вообще отсутствовать.
                                    </p>
                                    <p>
                                        Сервис показывает реальную цену с учетом акций и бонусов (списание или
                                        начисление), а также информирует об условиях BNPL-систем.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="faq__messages" data-message-block="1.4">

                            <div class="faq__message">
                                — У меня есть ваша карта? А там есть баллы?
                            </div>
                            <div class="faq__answer">
                                <img src="/img/faq/image-3.png" alt="" class="only-mobile faq__answer-img">
                                <div class="faq__answer-title">
                                    Посетитель не знает о программе лояльности или хочет проверить баланс
                                </div>
                                <div class="faq__answer-descriptions">
                                    <p>
                                        Покупатели часто не помнят, зарегистрированы ли они и есть ли у них бонусы.
                                    </p>
                                    <p>
                                        Через сервис можно проверить баланс по номеру телефона или зарегистрироваться,
                                        чтобы получить приветственные баллы и потратить их на первую покупку.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="faq__messages" data-message-block="1.5">

                            <div class="faq__message">
                                — А какой товар чаще покупают?
                            </div>
                            <div class="faq__answer">
                                <img src="/img/faq/image-4.png" alt="" class="only-mobile faq__answer-img">
                                <div class="faq__answer-title">
                                    Посетитель хочет увидеть отзывы и фото
                                </div>
                                <div class="faq__answer-descriptions">
                                    <p>
                                        Покупатели привыкли искать товар онлайн, чтобы посмотреть отзывы и реальные
                                        фотографии от других людей.
                                    </p>
                                    <p>
                                        Сервис показывает UGC-контент прямо в магазине, это помогает принять решение и
                                        удержать посетителя, который иначе мог бы уйти.
                                    </p>
                                    <p>
                                        По данным <a target="_blank"
                                            href="https://datainsight.ru/transformation-marketing">Data Insight</a>,
                                        покупатели ожидают онлайн-опыт и в
                                        рознице — возможность
                                        сравнивать, читать отзывы и смотреть фото.
                                        <br>
                                        А исследование <a target="_blank"
                                            href="https://www.emarketer.com/content/two-thirds-of-internet-users-check-phones-in-store-for-product-information-skipping-store-associates">eMarketer</a>
                                        показывает,
                                        что две трети посетителей ищут информацию о товаре на телефоне, не обращаясь к
                                        консультантам.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="faq__messages" data-message-block="1.6">
                            <div class="faq__message">
                                — Можете помочь с образом?
                            </div>
                            <div class="faq__answer">
                                <img src="/img/faq/image-5.png" alt="" class="only-mobile faq__answer-img">
                                <div class="faq__answer-title">
                                    Посетитель хочет посмотреть полную информацию о товаре или подходящие образы
                                </div>
                                <div class="faq__answer-descriptions">
                                    <p>
                                        После сканирования штрихкода покупатель видит фото, вариации цветов, описание и
                                        состав, размеры — все, что помогает быстрее выбрать.
                                    </p>
                                    <p>
                                        Дополнительно возможно показать рекомендации по образам и комплектам, например,
                                        сопутствующие товары или средства по уходу.
                                    </p>
                                    <p>
                                        Также сервис может формировать персональные рекомендации на основе данных о
                                        посетителе и наличии товаров в конкретной розничной точке.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="faq__messages" data-message-block="1.7">
                            <div class="faq__message">
                                — Сфотографируете для мамы?
                            </div>
                            <div class="faq__answer">
                                <img src="/img/faq/image-6.png" alt="" class="only-mobile faq__answer-img">
                                <div class="faq__answer-title">
                                    Посетитель хочет сравнить или посоветоваться
                                </div>
                                <div class="faq__answer-descriptions">
                                    <p>
                                        Как и в онлайне, посетитель может сохранить товары в избранное или поделиться
                                        ссылкой с друзьями, чтобы посоветоваться.
                                    </p>
                                    <p>
                                        <a target="_blank" href="/Исследования.pdf">Согласно исследованию</a>,
                                        покупатели часто принимают решение о
                                        покупке после обсуждения с окружением.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="faq__messages" data-message-block="1.8">
                            <div class="faq__message">
                                — Отложите? Я погуляю, подумаю…
                            </div>
                            <div class="faq__answer">
                                <img src="/img/faq/image-7.png" alt="" class="only-mobile faq__answer-img">
                                <div class="faq__answer-title">
                                    Посетитель решает купить позже
                                </div>
                                <div class="faq__answer-descriptions">
                                    <p>
                                        Пользователь может оформить доставку или самовывоз, даже если ушел из магазина.
                                    </p>
                                    <p>
                                        <a target="_blank" href="/Исследования.pdf">Согласно исследованию</a>, многие
                                        совершают покупку уже дома или в
                                        дороге, после визита в розницу.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>