<section class="section fast">
    <div class="container container--big">
        <div class="fast__wrapper">
            <h2 class="fast__title">
                Быстрая интеграция
            </h2>
            <div class="fast__list">
                <div class="fast__item">
                    <div class="fast__item-title">
                        Начнем работу почти без внутренней команды разработки
                    </div>
                    <img src="/img/fast/phones.png" alt="" class="fast__item-phone">
                    <p class="fast__item-description">
                        + потребуется работы по сверке состава товаров и их наличия с мастер-системой
                    </p>
                </div>
                <div class="fast__item">
                    <div class="fast__item-title">
                        Самостоятельно насытим данными своими парсер-системами
                    </div>
                    <img src="/img/fast/iphone.png" alt="" class="fast__item-decor">
                </div>
            </div>
        </div>
    </div>
</section>