<section class="section feedback" id="feedback">
    <div class="container">
        <div class="feedback__wrapper">
            <img src="/img/feedback/bg.png" alt="" class="only-desktop feedback__bg">
            <img src="/img/feedback/bg-mobile.png" alt="" class="only-mobile feedback__bg">
            <div class="feedback__left">
                <div class="feedback__subtitle">
                    подберем решение под ваш запрос
                </div>
                <h3 class="feedback__title">
                    Проконсультируем, расскажем, <br> как мы работаем и составим КП
                </h3>
            </div>
            <div class="feedback__right">
                <div class="feedback__socials">
                    <a target="_blank" href="https://t.me/antro_cx" class="feedback__social">
                        <img src="/img/ui/tg.svg" alt="" class="feedback__social-icon">
                    </a>
                    <a target="_blank" href="https://wa.me/79136599359" class="feedback__social">
                        <img src="/img/ui/wa.svg" alt="" class="feedback__social-icon">
                    </a>
                    <a target="_blank" href="mailto:hello@antro.cx" class="feedback__social">
                        <img src="/img/ui/mail.svg" alt="" class="feedback__social-icon">
                    </a>
                </div>
                <form class="form feedback__form js-form">
                    <div class="form__fields">
                        <label class="form__field">
                            <div class="form__field-error">
                                <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                            </div>
                            <input type="text" placeholder="Имя" name="application-userName"
                                data-required="Пожалуйста, введите имя" class="form__field-input">
                            <div class="form__field-error-text">
                                Пожалуйста, введите имя
                            </div>
                        </label>
                        <label class="form__field">
                            <div class="form__field-error">
                                <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                            </div>
                            <input type="text" placeholder="Компания"
                                data-required="Пожалуйста, введите название компании" name="application-userCompany"
                                class="form__field-input">
                            <div class="form__field-error-text">
                                Пожалуйста, введите название компании
                            </div>
                        </label>
                        <label class="form__field">
                            <div class="form__field-error">
                                <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                            </div>
                            <input type="tel" placeholder="Телефон" data-required="Пожалуйста, введите номер телефона"
                                name="application-userTel" class="form__field-input">
                            <div class="form__field-error-text">
                                Пожалуйста, введите номер телефона
                            </div>
                        </label>
                        <label class="form__field">
                            <div class="form__field-error">
                                <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                            </div>
                            <input type="text" placeholder="Почта" name="application-userEmail"
                                data-required="Пожалуйста, введите email" data-email class="form__field-input">
                            <div class="form__field-error-text">
                                Пожалуйста, введите email
                            </div>
                        </label>
                        <label class="form__field">
                            <div class="form__field-error">
                                <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                            </div>
                            <div class="select">
                                <input class="form__field-input select__value" type="text" autocomplete="off"
                                    readonly="readonly" placeholder="Способ связи"
                                    data-required="Пожалуйста, выберите способ связи" name="application-userComMethod">
                                <div class="select__list">
                                    <div data-value="Telegram или WhatsApp" class="select__option">Telegram или
                                        WhatsApp
                                    </div>
                                    <div data-value="Телефон" class="select__option">Телефон</div>
                                    <div data-value="Email" class="select__option">Email</div>
                                </div>
                            </div>
                            <div class="form__field-error-text">
                                Пожалуйста, выберите способ связи
                            </div>
                        </label>
                    </div>
                    <input type="hidden" name="ct_bot_detector_event_token"
                        value="0320c138fc60e233d8d9003bf92689834468466179554ec4d2c46317a55c85da">
                    <button class="btn-reset btn form__send" type="submit">
                        <span>Отправить</span>
                    </button>
                    <div class="form__agree">
                        Нажимая на кнопку, вы даете согласие на 
                        <a target="_blank" href="https://antro.cx/agreements/">обработку персональных данных</a>
                        и соглашаетесь с
                        <a target="_blank" href="https://antro.cx/agreements/">политикой конфиденциальности</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>