<section class="section feedback" id="feedback">
    <div class="container">
        <div class="feedback__wrapper">
            <img src="/img/feedback/bg.png" alt="" class="only-desktop feedback__bg">
            <img src="/img/feedback/bg-mobile.png" alt="" class="only-mobile feedback__bg">
            <div class="feedback__left">
                <div class="feedback__subtitle">
                    подберем решение под ваш запрос
                </div>
                <h3 class="feedback__title">
                    Проконсультируем, расскажем, <br> как мы работаем и составим КП
                </h3>
            </div>
            <div class="feedback__right">
                <div class="feedback__socials">
                    <a href="" class="feedback__social">
                        <img src="/img/ui/tg.svg" alt="" class="feedback__social-icon">
                    </a>
                    <a href="" class="feedback__social">
                        <img src="/img/ui/wa.svg" alt="" class="feedback__social-icon">
                    </a>
                    <a href="" class="feedback__social">
                        <img src="/img/ui/mail.svg" alt="" class="feedback__social-icon">
                    </a>
                </div>
                <form class="form feedback__form js-form">
                    <div class="form__fields">
                        <label class="form__field">
                            <div class="form__field-error">
                                <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                            </div>
                            <input type="text" placeholder="Имя" name="name" class="form__field-input">
                            <div class="form__field-error-text">
                                Пожалуйста, введите имя
                            </div>
                        </label>
                        <label class="form__field">
                            <div class="form__field-error">
                                <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                            </div>
                            <input type="text" placeholder="Компания" name="company" class="form__field-input">
                            <div class="form__field-error-text">
                                Пожалуйста, введите название компании
                            </div>
                        </label>
                        <label class="form__field">
                            <div class="form__field-error">
                                <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                            </div>
                            <input type="tel" placeholder="Телефон" name="phone" class="form__field-input">
                            <div class="form__field-error-text">
                                Пожалуйста, введите номер телефона
                            </div>
                        </label>
                        <label class="form__field">
                            <div class="form__field-error">
                                <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                            </div>
                            <input type="text" placeholder="Почта" name="email" class="form__field-input">
                            <div class="form__field-error-text">
                                Пожалуйста, введите email
                            </div>
                        </label>
                        <label class="form__field">
                            <div class="form__field-error">
                                <img src="/img/ui/white-warn.svg" alt="" class="form__field-error-icon">
                            </div>
                            <div class="select">
                                <input class="form__field-input select__value" type="text" autocomplete="off"
                                    readonly="readonly" placeholder="Способ связи" name="feedback">
                                <div class="select__list">
                                    <div data-value="Telegram или WhatsApp" class="select__option">Telegram или WhatsApp
                                    </div>
                                    <div data-value="Телефон" class="select__option">Телефон</div>
                                    <div data-value="Email" class="select__option">Email</div>
                                </div>
                            </div>
                            <div class="form__field-error-text">
                                Пожалуйста, выберите способ связи
                            </div>
                        </label>
                    </div>
                    <button class="btn-reset btn form__send" type="submit">
                        <span>Отправить</span>
                    </button>
                    <div class="form__agree">
                        Нажимая на кнопку, вы даете согласие на 
                        <a href="">обработку персональных данных</a>
                        и соглашаетесь с
                        <a href="">политикой конфиденциальности</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>