<footer class="footer">
    <div class="container">
        <div class="footer__box">
            <div class="footer__col">
                <div class="footer__text">Пишите</div>
                <a href="mailto:hello@antro.cx" class="footer__contact">hello@antro.cx</a>
                <div class="footer__text footer__text_mt footer__antro">© Antro, 2018–2025</div>
            </div>
            <div class="footer__col">
                <div class="footer__text">Будем рады поговорить</div>
                <a href="tel:+79994530020" class="footer__contact">+7 (999) 453-00-20</a>
            </div>

            <div class="footer__col footer__col_nav">
                <a href="#" class="footer__link">О продукте</a>
                <a href="#" class="footer__link">Возможности</a>
                <a href="#" class="footer__link">Как это работает</a>
            </div>

            <div class="footer__col footer__col_row">
                <a href="https://t.me/KSArts" class="footer__social-link btn_hover-round">
                    <img src="/img/ui/telegram-dark.svg" alt="">
                </a>
                <a href="https://vc.ru/antro" class="footer__social-link btn_hover-round">
                    <img src="/img/ui/vc-dark.svg" alt="">
                </a>
            </div>

            <div class="footer__col">
                <a href="#" class="footer__text footer__text_link">Аккредитованная ИТ-компания</a>
                <a href="#" class="footer__text footer__text_link">Политика обработки персональных данных</a>
                <p href="#" class="footer__text footer__text_mt ">
                    Cайт не является публичной офертой <br> и носит информационный характер
                </p>
            </div>
        </div>
    </div>
</footer>