<header class="header">
    <div class="container container--big">
        <div class="header__wrapper">
            <div class="header__left">
                <div class="header__logo">
                    <img src="/img/logo.svg" alt="" class="header__logo-icon">
                    <img src="/img/logo-dark.svg" alt="" class="header__logo-icon header__logo-icon_dark">
                </div>
                <nav class="header__menu">
                    <a href="#about" class="header__link">О продукте</a>
                    <a href="#fear" class="header__link">Возможности</a>
                    <a href="#how-works" class="header__link">Как это работает</a>
                </nav>
            </div>
            <a href="#feedback" class="btn-reset header__order">
                <span>
                    Записаться на демо
                </span>
                <div class="header__order-circle">
                    <img src="/img/ui/btn-icon.svg" alt="" class="header__order-icon">
                </div>
            </a>
        </div>
    </div>
</header>