<section class="section how-works">
    <div class="container">
        <div class="how-works__wrapper">
            <img class="how-works__video" src="/block.gif" autoplay="" loop="" muted="" playsinline="">
            <div class="how-works__block">
                <h2 class="how-works__title">
                    Как это работает
                </h2>
                <div class="how-works__steps">
                    <div class="how-works__column">
                        <div class="how-works__look">
                            <div class="how-works__look-circle">
                                <img src="/img/how-works/look.svg" alt="" class="how-works__look-icon">
                            </div>
                            Ассистент в бутике
                        </div>

                        <div class="how-works__item">
                            <div class="how-works__item-circle">
                                2
                            </div>
                            <p class="how-works__item-title">
                                Оформляет заказ <br class="only-desktop"> для клиента в пару кликов на доставку или
                                самовывоз
                            </p>
                            <p class="how-works__item-description">
                                Ищет нужный товар через каталог, поиск или штрихкод
                            </p>
                        </div>
                    </div>
                    <div class="how-works__column">
                        <div class="how-works__item">
                            <div class="how-works__item-circle">
                                1
                            </div>
                            <p class="how-works__item-title">
                                Считывает штрих-код товара
                            </p>
                            <p class="how-works__item-description">
                                Видит наличие по всем каналам (другие магазины, склад, e-commerce)
                            </p>
                        </div>
                        <div class="how-works__item">
                            <div class="how-works__item-circle">
                                3
                            </div>
                            <p class="how-works__item-title">
                                Видит продажи <br class="only-desktop"> и мотивацию в личном кабинете
                            </p>
                            <p class="how-works__item-description">
                                Ключевые показатели: сумма заказов, выполненные планы, динамика продаж
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>