<section class="section how-works">
    <div class="container">
        <div class="how-works__wrapper">
            <img class="how-works__video" src="/block.gif" autoplay="" loop="" muted="" playsinline="">
            <div class="how-works__block">
                <h2 class="how-works__title" id="how-works">
                    Как это работает
                </h2>
                <div class="how-works__steps">
                    <div class="how-works__column">
                        <div class="how-works__look">
                            <div class="how-works__look-circle">
                                <img src="/img/how-works/look.svg" alt="" class="how-works__look-icon">
                            </div>
                            Посетитель в рознице
                        </div>
                        <div class="how-works__item">
                            <div class="how-works__item-circle">
                                1
                            </div>
                            <p class="how-works__item-title">
                                Сканирует QR в магазине
                            </p>
                            <p class="how-works__item-description">
                                мгновенно попадает в веб-сервис (без скачивания приложений)
                            </p>
                        </div>
                        <div class="how-works__item">
                            <div class="how-works__item-circle">
                                2
                            </div>
                            <p class="how-works__item-title">
                                Находит нужный товар
                            </p>
                            <p class="how-works__item-description">
                                поиск по каталогу, категориям или сканированию
                            </p>
                        </div>
                    </div>
                    <div class="how-works__column">
                        <div class="how-works__item">
                            <div class="how-works__item-circle">
                                3
                            </div>
                            <p class="how-works__item-title">
                                Смотрит детали
                            </p>
                            <p class="how-works__item-description">
                                размеры, наличие, отзывы, характеристики
                            </p>
                        </div>
                        <div class="how-works__item">
                            <div class="how-works__item-circle">
                                4
                            </div>
                            <p class="how-works__item-title">
                                Делает выбор
                            </p>
                            <p class="how-works__item-description">
                                откладывает, заказывает в других каналах, делится списком
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>