<section class="section launch">
    <div class="container container--big">
        <div class="launch__wrapper">
            <h2 class="launch__title">
                Запуск за несколько недель, без нагрузки на вашу IT-команду
            </h2>
            <div class="launch__list">
                <div class="launch__item">
                    <div class="launch__item-title">
                        Подходит для любого формата
                    </div>
                    <img src="/img/launch/blue.png" alt="" class="launch__item-phone">
                    <p class="launch__item-description">
                        + потребуется работы по сверке состава товаров и их наличия с мастер-системой
                    </p>
                </div>
                <div class="launch__item">
                    <div class="launch__item-title">
                        Самостоятельно насытим данными
                    </div>

                    <ul class="launch__item-list">
                        <li class="launch__item-point">
                            Используем парсер-системы для загрузки карточек товаров, отзывов
                            и контента
                        </li>
                        <li class="launch__item-point">Вам не нужно собирать данные вручную</li>
                    </ul>
                    <img src="/img/launch/green.png" alt="" class="launch__item-decor">
                </div>
                <div class="launch__item">
                    <div class="launch__item-title">
                        Интеграция в вашу экосистему
                    </div>

                    <p class="launch__item-description launch__item-description_pink">
                        Сами изучим архитектуру и настроим решение под PIM/ERP/Mindbox и другие системы. Для вас процесс
                        проходит бесшовно и безболезненно.
                    </p>
                    <img src="/img/launch/pink.png" alt="" class="launch__item-decor">
                </div>
            </div>
        </div>
    </div>
</section>