<div class="mobile-menu">

    <div class="mobile-menu__black"></div>

    <div class="mobile-menu__slide js-mobile-menu">
        <div class="mobile-menu__col mobile-menu__col_first">
            <a target="_blank" href="https://t.me/KSArts" class="mobile-menu__social">
                <div class="mobile-menu__social-icon">
                    <img src="/img/ui/telegram-dark.svg" alt="">
                </div>
                Телеграм-канал
            </a>

            <a target="_blank" href="https://vc.ru/antro" class="mobile-menu__social">
                <div class="mobile-menu__social-icon">
                    <img src="/img/ui/vc-dark.svg" alt="">
                </div>
                Блог на VC
            </a>
        </div>

        <div class="mobile-menu__col mobile-menu__col_links">
            <a href="#about" class="mobile-menu__link">
                О продукте
            </a>
            <a href="#fear" class="mobile-menu__link">
                Возможности
            </a>
            <a href="#how-works" class="mobile-menu__link">
                Как это работает
            </a>
        </div>
    </div>

    <div class="mobile-menu__burger js-burger">
        <div class="mobile-menu__burger-icon">
            <span></span>
            <span></span>
        </div>
        <span class="mobile-menu__burger-text">Меню</span>
    </div>

    <a href="#feedback" class="btn-reset mobile-menu__order">
        <span>
            Записаться на демо
        </span>
        <div class="mobile-menu__order-circle">
            <img src="/img/ui/btn-icon.svg" alt="" class="mobile-menu__order-icon">
        </div>
    </a>



</div>