<section class="why">
    <div class="container">
        <div class="why__wrapper">
            <img src="/img/why/bg-dark.png" alt="" class="only-desktop why__bg">
            <img src="/img/why/bg-dark-mobile.png" alt="" class="only-mobile why__bg">
            <h2 class="why__title">
                Веб-сервис
            </h2>
            <p class="why__description">
                Легкий запуск, поиск товаров и формирование корзин для принятия решения о покупке посетителем
            </p>
            <div class="why__list why__list_bottom">
                <div class="why__item why__item--blue why__item--max-height">
                    <div class="why__item-title">Самостоятельно <br class="only-desktop"> насытим данными</div>
                    <p class="why__item-description">Например, UGC-контентом с маркетплейсов</p>
                    <a href="" class="why__item-link">Подробнее</a>
                </div>
                <div class="why__item why__item--white">
                    <div class="why__item-title">Без установки дополнительных приложений</div>
                    <p class="why__item-description why__item-description--padding">
                        Работает в браузере, отсканировав QR-код с возможностью бесшовно
                        интегрировать во внутрь
                        текущего мобильного приложения магазина через Web View
                    </p>
                </div>
                <div class="why__item why__item--white">
                    <div class="why__item-title">Изучение опыта <br class="only-desktop"> посетителей</div>
                    <p class="why__item-description">
                        Сбор недостающей информации и поведения в магазине для понимания пути клиента, упущенных продаж
                        и предпочтений
                    </p>
                </div>
            </div>
            <div class="why__list">
                <div class="why__item why__item--white">
                    <div class="why__item-title">Интуитивный <br class="only-desktop"> интерфейс</div>
                    <p class="why__item-description">
                        Легко просматривать описания, рекомендации по перекрёстным предложениям и доступность товаров
                        во всех каналах
                    </p>
                </div>
                <div class="why__item why__item--white">
                    <div class="why__item-title">Работа с ушедшими <br class="only-desktop"> посетителями</div>
                    <p class="why__item-description">
                        Возможность работать с оставленными контактами через механики брошенной корзины и другими
                        маркетинговыми активностями
                    </p>
                </div>
                <div class="why__item why__item--blue why__item--height">
                    <div class="why__item-title">Простая интеграция</div>
                    <p class="why__item-description">Минимальные трудозатраты команды разработки</p>
                    <a href="" class="why__item-link">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>