<section class="section why">
    <div class="container">
        <div class="why__wrapper">
            <img src="/img/why/bg.png" alt="" class="why__bg">
            <h2 class="why__title">
                E-com сервис для торгового зала: <br> всё в браузере, без мобильных приложений
            </h2>
            <p class="why__description">
                Быстрый старт, удобный для клиентов, без нагрузки на IT-команду
            </p>
            <div class="why__list why__list_bottom">
                <div class="why__item why__item--blue">
                    <div class="why__item-title">Готовый контент</div>
                    <ul class="why__item-list">
                        <li class="why__item-point">
                            Сами насытим данными парсер-системами: UGC, отзывы, описания с маркетплейсов
                        </li>
                        <li class="why__item-point">
                            Дополним витрину тем, чего не хватает офлайну
                        </li>
                    </ul>
                </div>
                <div class="why__item why__item--white">
                    <div class="why__item-title">Привычный e-com опыт</div>
                    <ul class="why__item-list">
                        <li class="why__item-point">
                            Размеры, цвета, наличие во всех каналах
                        </li>
                        <li class="why__item-point">
                            Рекомендации и перекрёстные предложения
                        </li>
                        <li class="why__item-point">
                            Простая и понятная оффлайн-корзина
                        </li>
                    </ul>
                </div>
                <div class="why__item why__item--white">
                    <div class="why__item-title">Аналитика поведения</div>
                    <ul class="why__item-list">
                        <li class="why__item-point">
                            Видим, что ищут покупатели в зале
                        </li>
                        <li class="why__item-point">
                            Понимаем, где теряем продажи
                        </li>
                        <li class="why__item-point">
                            Сбор недостающей информации о клиентском пути
                        </li>
                    </ul>
                </div>
            </div>
            <div class="why__list">

                <div class="why__item why__item--white why__item--height">
                    <div class="why__item-title">Омниканальная интеграция</div>
                    <ul class="why__item-list">
                        <li class="why__item-point">
                            Данные и заказы сразу попадают в e-com / ERP / CRM
                        </li>
                        <li class="why__item-point">
                            Весь бизнес видит единый клиентский путь
                        </li>
                    </ul>
                </div>
                <div class="why__item why__item--white">
                    <div class="why__item-title">Работа с ушедшими посетителями</div>
                    <ul class="why__item-list">
                        <li class="why__item-point">
                            Работа с брошенными корзинами и контакты
                        </li>
                        <li class="why__item-point">
                            Дополнительные маркетинговые активности
                        </li>
                    </ul>
                </div>
                <div class="why__item why__item--blue  why__item--height">
                    <div class="why__item-title">Быстрый запуск</div>
                    <ul class="why__item-list">
                        <li class="why__item-point">
                            Работает в браузере, без установки приложений
                        </li>
                        <li class="why__item-point">
                            Минимальные трудозатраты со стороны команды разработки
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>